<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
    <h1>How many numbers do you wish to generate?</h1>
    <form
        role="form"
        method="post"
        th:action="@{/user-form/success}"
        th:object="${userForm}">

        <input type="number" th:field="*{userInput}"/>
        <br />

        <button type="submit">Generate</button>

    </form>
</body>
</html>